In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [114]:
data = pd.read_csv("sample_data/petrol_consumption.csv")

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [116]:
data.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [101]:
data.head()

           Position  Level  Salary
0   BusinessAnalyst      1   45000
1  JuniorConsultant      2   50000
2  SeniorConsultant      3   60000
3           Manager      4   80000
4    CountryManager      5  110000

In [122]:
x = data.drop('Petrol_Consumption', axis=1)
y = data['Petrol_Consumption']

In [123]:
x.count()

Petrol_tax                      48
Average_income                  48
Paved_Highways                  48
Population_Driver_licence(%)    48
dtype: int64

In [124]:
y.count()

48

In [126]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [127]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [128]:
y_pred = regressor.predict(X_test)

In [129]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

    Actual  Predicted
29     534      541.0
4      410      414.0
26     577      574.0
30     571      554.0
32     577      574.0
37     704      574.0
34     487      648.0
40     587      649.0
7      467      414.0
10     580      464.0

In [130]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 55.6
Mean Squared Error: 6330.2
Root Mean Squared Error: 79.56255400626604